<!DOCTYPE html>
<html lang="en">
    <head>
      <script src="../js/brv.js"></script>
        <meta charset="utf-8" />
        <link rel="stylesheet" type="text/css" href="../style.css">

        <!-- docs: https://developers.google.com/chart/interactive/docs/gallery/sankey -->
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

        <script type="text/javascript">
         var rowMapping = {
           @printRowMapping()
         };
         google.charts.load('current', {'packages':['sankey']});
         google.charts.setOnLoadCallback(drawChart);
         var chart;

         function addLink() {
           if (chart.getSelection().length == 0)
             return;
           var row = rowMapping[chart.getSelection()[0].row];
           if (row == undefined) {
             return;
           }

           var qs = 'grouping=@groupingId';
           console.log(row);
           for (var r in row.runs) {
             var run = row.runs[r];
             qs += '&run=' + run.toolrun;
             qs += '&bucket=' + escape(run.bucket);
           }

           var a = document.createElement('a');
           a.innerHTML = 'See filtered files';
           a.setAttribute("href", "/filter?" + qs);

           var container = document.getElementById('link_here');
           if (container.firstChild != undefined)
             container.removeChild(container.firstChild);
           container.appendChild(a);
         }

         function drawChart() {
             var data = new google.visualization.DataTable();

             // columns are individual runs
             data.addColumn('string', 'From');
             data.addColumn('string', 'To');

             data.addColumn('number', 'Count');
             data.addRows([
                @printTransitions()
             ]);


             // Instantiates and draws our chart, passing in some options.
             chart = new google.visualization.Sankey(document.getElementById('sankey_basic'));
             google.visualization.events.addListener(chart, 'select', addLink);
             // the second parameter is chart options
             chart.draw(data, {
               sankey: {
                 node: {
                   interactivity: true
                 },
                 link: {
                   interactivity: true
                 }
               }
             });
         }
        </script>


        <title>mamato -- benchexec results viewer </title>
    </head>
    <body>
        #include("../header.html")
        <div id="content">
        <form name="settingsform" action="/res">
                <a href="/results?
#for @run in @runs:
run=@run.getID()&
#end
grouping=@groupingId
                         ">Table</a>
                <select name="grouping" onchange="changeSettings(this)">
                    #for @grouping in @groupings:
                    <option
                        #if(@get(@grouping, 1) == @groupingId)
                        selected
                        #end
                        value="@get(@grouping, 1)">@get(@grouping, 0)</option>
                    #end
                </select>
            </form>
            <div id="link_here"></div>
            <div id="sankey_basic" style="width: 90%; height: 400px;"></div>
            </div>
    </body>
</html>
