<!DOCTYPE html>
<html lang="en">
<!--
   index.html template

   Author: Marek Chalupa <xchalup4@fi.muni.cz>, 2017
-->

<head>
<meta charset="utf-8" />
<link rel="stylesheet" type="text/css" href="../style.css">
<title>Benchexec results viewer</title>
</head>

<body>

#include("../header.html")
<div id="content">
<h2>Tools:</h2>

<form action="/results" style="margin-left: 1em">
  #for @tool in @tools:
    <h3>@get(@tool, 0):</h3>
      <select name="run" multiple="multiple" size="10" style="display: inline-block; overflow-y: auto;">
      #for @tool_version in @get(@tool, 1):
        <option disabled role=separator/>@tool_version.version</option>
        #for @run in @tool_version.getRuns():
        <!--<select name="run" multiple="multiple" style="width:50%;">-->
          <option value=@run.getID()>&nbsp;&nbsp;&nbsp;&nbsp;[@run.date()] @run.tool() @descr(@run)</option>
        #end
      #end
      </select>
  <br/>
  #end
  <input type="submit" value="Show!">
</form>

</div> <!-- content -->
</body>

</html>
