<!DOCTYPE html>
<html lang="en">
<!--
   Author: Marek Chalupa <xchalup4@fi.muni.cz>, 2017 - 2018
-->

<script src="../js/brv.js"></script>

<head>
<meta charset="utf-8" />
<link rel="stylesheet" type="text/css" href="../style.css">

<title>mamato -- benchexec results viewer </title>
</head>

<body>

#include("../header.html")
<div id="content">
<div id="content-left">
<!-- fixme: make this modal box -->
<div id="status-bar" class="status-bar-hidden">
Status bar
</div>
<h2>Tools:</h2>

<form action="/manage" style="margin-left: 1em">
  #for @tool in @tools:
    <h3>@get(@tool, 0):</h3>
      <table>
      #for @tool_run in @get(@tool, 1):
	#for @tool_with_options in @get(@tool_run, 1):
          #for @run in @tool_with_options.getRuns():
	     <tr>
	     <td class="description">
	     [@run.date()] [@run.getID()]</td>
	     <td>
             <input class="description-entry" readonly="true"
                    style="min-width: 30em;"
                    ondblclick="enableEntry(this, @run.getID())" value="@descr(@run)" />
	     <td/>
	     <td>&nbsp;</td>
	     <td class="tags">tags:
	     	<input value="@None2Empty(@run.tags())"
			onkeypress="updateTags(event, @run.getID(), this)"/>
	     </td>
	     <td>&nbsp;</td>
	     <td class="delete"><a href="javascript:void(0)"
                    onclick="deleteTool(@run.getID(), this.parentElement.parentElement);">delete</a> </td>
             </tr>
          #end
        #end
      #end
      </table>
  <br/>
  #end
</form>

</div> <!-- content-left -->
<div id="content-right">
<h3>Tags setting</h3>
<div style="line-height: 150%; width: 80%">
#for @tag in @tags:
   <span class="tag" style="@tag.getCSS()">@tag.getName()</span>
#end
</div>
<br> <br>
<form id="tags-config">
<textarea cols="60" rows="10" form="tags-config" name="tags-config"
          id="tags-config-text" style="white-space: pre-wrap;">
#for @line in @tags_config:
@line
#end
</textarea>
<br> <br>
<input type="submit" onclick="updateTagsConfig();return false;" value="Update">
</form>


</div> <!-- content-right -->
<div id="content-bottom">
</div> <!-- content-bottom -->
</div> <!-- content -->

</body>

</html>
