<!DOCTYPE html>
<html lang="en">
<!--
   Author: Marek Chalupa <xchalup4@fi.muni.cz>, 2017 - 2018
-->

<script src="../js/brv.js"></script>
<script>
// source: https://stackoverflow.com/questions/247483/http-get-request-in-javascript

function deleteTool(tid, delElem) {
	if (!confirm("Do you really want to delete tool run id " + tid + "?")) {
		return false;
	}

	httpGetAsync('delete?run='+tid, function (resp) {
			hideStatusBar();
			delElem.parentNode.removeChild(delElem);
			//location.reload();
			});

	showStatusBar("Deleting tool " + tid);
	return false;
}

function renameTool(obj, tid, descr) {
	httpGetAsync('set?run='+tid+'&description='+descr, function (resp) {
			hideStatusBar();
			// no reload needed, the entry is updated
			});
	showStatusBar("Renaming tool " + tid);
	return false;
}

function enableEntry(obj, tid) {
	obj.removeAttribute("readonly");
	obj.onkeypress = function(e) {
		if (e.keyCode == 13) { //enter
			renameTool(obj, tid, obj.value);
			obj.setAttribute("readonly", "true");
			return false;
		} else if (e.keyCode == 27) { //escape
			obj.setAttribute("readonly", "true");
			return false;
		}
		return true;
	}
	return false;
}

function enableEntryOnClick(obj, tid) {
	var tr = obj.parentElement.parentElement;
	var ent = tr.getElementsByClassName("description-entry")[0];
	return enableEntry(ent, tid);
}

function setTags(tid, tags) {
	httpGetAsync('set?run='+tid+'&tags='+tags, function (resp) {
			hideStatusBar();
			// no reload needed, the entry is updated
			});
	showStatusBar("Setting tags to tool " + tid);
	return false;
}

function updateTags(e, rid, obj) {
	if (e.keyCode == 13) { //enter
		return setTags(rid, obj.value);
	}
	return true;
}

function updateTagsConfig() {
	conf = document.getElementById("tags-config-text").value;
	httpGetAsync('set?tags_config='+encodeURIComponent(conf), function (resp) {
			hideStatusBar();
			location.reload();
			});
	showStatusBar("Updating tags configuration");
	return false;
}

</script>

<head>
<meta charset="utf-8" />
<link rel="stylesheet" type="text/css" href="../style.css">

<title>mamato -- benchexec results viewer </title>
</head>

<body>

#include("../header.html")
<div id="content">
<div id="content-left">
<!-- fixme: make this modal box -->
<div id="status-bar" class="status-bar-hidden">
Status bar
</div>
<h2>Tools:</h2>

<form action="/manage" style="margin-left: 1em">
  #for @tool in @tools:
    <h3>@get(@tool, 0):</h3>
      <table>
      #for @tool_run in @get(@tool, 1):
	#for @tool_with_options in @get(@tool_run, 1):
          #for @run in @tool_with_options.getRuns():
	     <tr>
	     <td class="description">
	     [@run.date()] [@run.getID()]
             <input class="description-entry" readonly="true"
                    ondblclick="enableEntry(this, @run.getID())" value="@descr(@run)" />
	     <td/>
	     <td class="tags">tags:
	     	<input value="@None2Empty(@run.tags())"
			onkeypress="updateTags(event, @run.getID(), this)"/>
	     </td>
	     <td class="rename"><a href="javascript:void(0)"
                    onclick="enableEntryOnClick(this, @run.getID());" >rename</a> </td>
	     <td class="delete"><a href="javascript:void(0)"
                    onclick="deleteTool(@run.getID(), this.parentElement.parentElement);">delete</a> </td>
             </tr>
          #end
        #end
      #end
      </table>
  <br/>
  #end
</form>

</div> <!-- content-left -->
<div id="content-right">
<h3>Tags setting</h3>
<form id="tags-config">
<textarea cols="60" rows="10" form="tags-config" name="tags-config" id="tags-config-text" style="white-space: pre-wrap;">
#for @line in @tags_config:
  @line.strip()
#end
</textarea>
<input type="submit" onclick="updateTagsConfig();return false;" value="Update">
</form>
#for @tag in @tags:
   <span class="tag" style="@tag.getCSS()">@tag.getName()</span>
#end

</div> <!-- content-right -->
<div id="content-bottom">
</div> <!-- content-bottom -->
</div> <!-- content -->

</body>

</html>
