body {
        background-color: #eeeeee;
        padding: 0;
        margin: 0;
}

select {
        background: #f9f9f9;
        font-size: 1.0em;
        overflow-y: auto;
        display: inline-block;
        border: 0;
}

#tools-select {
	background-color: #f9f9f9;
	padding: 5px;
}

#tools-select tr {
        padding: 5px;
}

#tools-select  .version {
 	color: #0066ff;
	font-size: 0.8em;
        padding: 10px;
}

#tools-select  .version:hover {
 	color: #0066ff;
	background-color: #f9f9f9;
	font-size: 0.8em;
        padding: 10px;
}

#tools-select tr:hover {
       background-color: #e9ffe1;
}


a {
	text-decoration: none; 
}

#header {
        text-align: center;
        #text-shadow: 5px 10px 20px;
        background-color: #555555;
        color: #34a340;
        width: 100%;
        border: 0;
        padding:10pt;
        font-family: "Courier New";
}

#content {
  padding: 10px;
  padding-left: 20px;
}

.rolled {
    overflow:hidden;
    height:20px;
}

.unrolled {
    height: 100%;
}

.hidden {
	display: none;
}

.tag-box {
	padding-left: 15px;
}

.tag {
	border: 1pt gray solid;
	border-radius: 5px;
	padding: 2px;
	font-size: 11px;
	color: black;
}
